.tituloColumnas {
    background-color: cyan;
}

#columnaTitulo h2 {
    text-align: center;
}

.divisorLinea{
    border-top: 2px solid rgba(1,0,0)
}

.imageCard{
    height: 100px;
}

.nav-item{
    font-family: "Comic Sans MS", cursive, sans-serif; 
    font-size: 24px; 
    color: black;
}

.bigContainer {
    background-color: white;
}

.info-bar {
    background-color: orangered;
    color: black;
}

.info-bar p{
    /*color: white;*/
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#infoBarUsuario {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.info-bar a{
    margin-left: 10px;
    color: black;
}

.card-text {
    font-size: 13px;
}

.card.active {
    background-color: gray !important;
}