.tituloColumnas {
    background-color: cyan;
}

#columnaTitulo h2 {
    text-align: center;
}

.divisorLinea{
    border-top: 2px solid rgba(1,0,0)
}

.imageCard{
    height: 100px;
}

.nav-item{
    font-family: "Comic Sans MS", cursive, sans-serif; 
    font-size: 24px; 
    color: black;
}

.bigContainer {
    background-color: white;
}

.info-bar {
    background-color: orangered;
    color: black;
}

.info-bar p{
    /*color: white;*/
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#infoBarUsuario {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.info-bar a{
    margin-left: 10px;
    color: black;
}

.card-text {
    font-size: 13px;
}

.card.active {
    background-color: gray !important;
}

/* 
    Estilos de los botones.
*/

#botonListaMascotas{
    text-align: left;
    border: 1px solid #ced4da;
}

#botonListaMascotas:disabled{
    background-color: #e9ecef !important;
    color: #495057 !important;
    line-height: 1.5 !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    font-size: 1rem;
    opacity: 1 !important;
}

tr.active{
    background-color: #0881AD !important;
}

.closeModal {
    padding: 0px !important;
}

.tituloErrorHeader {
    display: block;
    background: #e85e6c;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin-right: -0.5px;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.tituloAdvertenciaHeader {
    display: block;
    background: #ffc107;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin-right: -0.5px;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.tituloInfoHeader {
    display: block;
    background: #68889E;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin-right: -0.5px;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.tituloExitoHeader {
    display: block;
    background: #008f39;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin-right: -0.5px;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.caja-icono {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
    margin-left: 5px;
}

.cajaHeader {
    display: block;
}

.iconoError {
    font-size: 58px;
    margin: -2px 0 0 -2px;
}

.iconoAdvertencia {
    font-size: 58px;
    margin: -7px 0 0 -5px;
}

.iconoInformacion {
    font-size: 58px;
    margin: -2px 0 0 -2px;
}

.iconoExito {
    font-size: 58px;
    margin: -2px 0 0 -2px;
}
